<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <% if @active %>
    <head data-hook="inside_head">
      <%= render partial: 'spree/shared/head' %>
    </head>
    <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
      <div id="overlay" class="overlay hide-on-esc"></div>

      <div data-hook>
        <main id="content" data-hook>
          <%= flash_messages %>
            <%= yield %>
        </main>

        <%= yield :templates %>
      </div>
    </body>
  <%else%>
    <head data-hook="inside_head">
      <%= render partial: 'spree/shared/head' %>
    </head>
    <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
      <%= render partial: 'spree/shared/header' %>
      <div id="overlay" class="overlay hide-on-esc"></div>

      <div data-hook>
        <main id="content" data-hook>
          <%= flash_messages %>
            <%= yield %>
        </main>

        <%= yield :templates %>
      </div>
    </body>
  <%end%>
</html>
