<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ecommerce CMS</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="/cms">CMS</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="/">Shop</a>
      </li>
    </ul>
  </div>
</nav>
<h1 align="center">Editing Banner</h1>
<div class="container">
  <%= simple_form_for @banner do |f| %>
    
      <%= f.file_field :image, label: "Banner image" %>
      <%= f.cktext_area :body, label: "Body text" %>

      <div class="form-group row mb-0">
        <div class="col-sm-9 offset-sm-3">
          <%= f.button :submit, class: "btn-primary" %>
      </div>
    </div>
  <% end %>
</div>