<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ecommerce CMS</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="/cms">CMS</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="/">Shop</a>
      </li>
    </ul>
  </div>
</nav>
<h1 align="center">Customizing home page products</h1>
<div class="container">
  <%= simple_form_for @custom_product, input_html: { class: 'form-group' } do |f| %>
    
      <%= f.select :sort_field, Spree::Product.column_names.map{ |l| [l.titleize, l] }, include_blank: true, input_html: {class: 'form-control'} %><br/>
      <%= f.select :sort_direct, [["Ascending", "asc"], ["Descending", "desc"]], include_blank: true, input_html: {class: 'form-control'} %>
      <%= f.input :no_of_products, as: :numeric, input_html: { class: 'form-control' } %>

      <div class="form-group row mb-0">
        <div class="col-sm-9 offset-sm-3">
          <%= f.button :submit, class: "btn-primary" %>
      </div>
    </div>
  <% end %>
</div>