<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ecommerce CMS</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Shop</a>
      </li>
      <li class="nav-item active">
        <a href="/default_site" class="btn btn-primary margin-button">Set as default site</a>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <div class="container">
            <ul class="nav nav-pills">
                <li class="active"><a  href="#1" data-toggle="tab">Containers</a></li>
                <li><a href="#2" data-toggle="tab">Components</a></li>
            </ul>
            <br/>
            <div class="tab-content ">
                <div class="tab-pane active" id="1">
                    <ul>
                        <li>
                            <div class="blockwidget">
                                <div class="img-element"><img src="/assets/examples/row_12.png"/></div>
                                <div class="split d-none">
                                    <div class="row">
                                        <div class="col-lg-12 my-container-left element"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="blockwidget">
                                <div class="img-element"><img src="/assets/examples/row_6_6.png"/></div>
                                <div class="split d-none">
                                    <div class="row">
                                        <div class="col-lg-6 my-container-left element"></div>
                                        <div class="col-lg-6 element"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="blockwidget">
                                <div class="img-element"><img src="/assets/examples/row_4_4_4.png"/></div>
                                <div class="split d-none">
                                    <div class="row">
                                        <div class="col-lg-4 my-container-left element"></div>
                                        <div class="col-lg-4 my-container-left element"></div>
                                        <div class="col-lg-4 element"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="blockwidget">
                                <div class="img-element"><img src="/assets/examples/row_3_3_3_3.png"/></div>
                                <div class="split d-none">
                                    <div class="row">
                                        <div class="col-lg-3 my-container-left element"></div>
                                        <div class="col-lg-3 my-container-left element"></div>
                                        <div class="col-lg-3 my-container-left element"></div>
                                        <div class="col-lg-3 element"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="blockwidget">
                                <div class="img-element"><img src="/assets/examples/row_4_8.png"/></div>
                                <div class="split d-none">
                                    <div class="row">
                                        <div class="col-lg-4 my-container-left element"></div>
                                        <div class="col-lg-8 element"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="blockwidget">
                                <div class="img-element"><img src="/assets/examples/row_8_4.png"/></div>
                                <div class="split d-none">
                                    <div class="row">
                                        <div class="col-lg-8 my-container-left element"></div>
                                        <div class="col-lg-4 element"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="blockwidget">
                                <div class="img-element"><img src="/assets/examples/row_3_6_3.png"/></div>
                                <div class="split d-none">
                                    <div class="row">
                                        <div class="col-lg-3 my-container-left element"></div>
                                        <div class="col-lg-6 my-container-left element"></div>
                                        <div class="col-lg-3 element"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="2">
                    <ul>
                        <li>
                            <div class="blockelement" editor="true">
                                <div class="img-element"><img src="/assets/examples/header.png"/></div>
                                <div class="d-none content dynamic" data-index="1" id="1">
                                    <%= render :inline => @content[0].result(binding), :layout => false%> 
                                </div>
                            </div>
                        </li>
                        </br>
                        <li>
                            <div class="blockelement" editor="true">
                                <div class="img-element"><img src="/assets/examples/banner.png"/></div>
                                <div class="d-none content dynamic" data-index="2" id="2">
                                    <%= render :inline => @content[1].result(binding), :layout => false%> 
                                </div>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="blockelement" editor="true">
                                <div class="img-element"><img src="/assets/examples/product1.png"/></div>
                                <div class="d-none content dynamic" data-index="3" id="3">
                                    <%= render :inline => @content[2].result(binding), :layout => false%> 
                                </div>                
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="blockelement">
                                <div class="img-element"><img src="/assets/examples/text.png"/></div>
                                <p class="d-none content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro labore architecto fuga tempore omnis aliquid, rerum numquam deleniti ipsam earum velit aliquam deserunt, molestiae officiis mollitia accusantium suscipit fugiat esse magnam eaque cumque, iste corrupti magni? Illo dicta saepe, maiores fugit aliquid consequuntur aut, rem ex iusto dolorem molestias obcaecati eveniet vel voluptatibus recusandae illum, voluptatem! Odit est possimus nesciunt.</p>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="blockelement">
                                <div class="img-element"><img src="/assets/examples/jumbotron.png"/></div>
                                <div class="jumbotron d-none content">
                                    <h1>Hello, world!</h1>
                                    <p>This is a simple hero unit</p>
                                    <p><a role="button" href="#" class="btn btn-primary btn-lg">Learn more</a></p>
                                </div>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="blockelement">
                                <div class="img-element"><img src="/assets/examples/photo.png"/></div>
                                <div class="photo-panel d-none content">
                                    <img src="/assets/examples/somewhere_bangladesh.jpg" width="100%" height="" />
                                </div>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="blockelement" editor="true">
                                <div class="img-element"><img src="/assets/examples/audio.png"/></div>
                                <div class="audio-wrapper d-none content">
                                    <audio src="http://www.noiseaddicts.com/samples_1w72b820/2558.mp3" controls style="width: 100%"></audio>
                                </div>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="blockelement" editor="true">
                                <div class="img-element"><img src="/assets/examples/video.png"/></div>
                                <div class="video-wrapper d-none content">
                                    <video width="320" height="180" controls style="background: #222;">
                                        <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4" />
                                        <source src="http://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg" />
                                    </video>
                                </div>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="blockelement" editor="true">
                                <div class="img-element"><img src="/assets/examples/youtube.png"/></div>
                                <div class="youtube-wrapper d-none content">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/P5yHEKqx86U"></iframe>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="blockelement" editor="true">
                                <div class="img-element"><img src="/assets/examples/googlemap.png"/></div>
                                <div class="googlemap-wrapper d-none content">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14897.682811563638!2d105.82315895!3d21.0158462!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1456466192755"></iframe>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="blockelement">
                                <div class="img-element"><img src="/assets/examples/thumbnail_panel.png"/></div>
                                <div class="thumbnail d-none content">
                                    <img src="/assets/examples/somewhere_bangladesh.jpg" width="100%" height="" />
                                    <div class="caption">
                                        <h3>Thumbnail label</h3>
                                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                        <p>
                                            <a href="#" class="btn btn-primary" role="button">Button</a>
                                            <a href="#" class="btn btn-default" role="button">Button</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="blockelement">
                                <div class="img-element"><img src="/assets/examples/heading_1.png"/></div>
                                <div class="d-none content"><h1>Heading text 1</h1> <p>Body text</p></div>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="blockelement">
                                <div class="img-element"><img src="/assets/examples/media_panel.png"/></div>
                                <div class="media d-none content">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src="/assets/examples/yenbai_vietnam.jpg" width="150" height="" />
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Media heading</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos minus hic praesentium, nihil nemo, optio delectus explicabo at beatae. Ullam itaque, officiis maxime quibusdam impedit vero?</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="blockelement">
                                <div class="img-element"><img src="/assets/examples/snippet_06.png"/></div>
                                <div class="row d-none content">
                                    <div class="col-md-6 text-center">
                                        <img class="img-circle img-responsive" style="display: inline-block;" src="/assets/examples/sydney_australia_squared.jpg" />
                                    </div>
                                    <div class="col-md-6">
                                        <h3>Lorem ipsum</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi molestias eius quaerat, adipisci ratione aliquid eum explicabo illum temporibus? Optio facilis eveniet quam, impedit eos architecto sequi dolorum illo facere, consequatur sit voluptatibus sunt eius ad officia corrupti modi quia minima voluptas vero. Minus, maxime!</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="blockelement">
                                <div class="img-element"><img src="/assets/examples/snippet_07.png"/></div>
                                <div class="row d-none content">
                                    <div class="col-md-4 text-center">
                                        <img class="img-circle img-responsive" style="display: inline-block;" src="/assets/examples/somewhere_bangladesh_squared.jpg" />
                                        <h3>Lorem ipsum</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, alias, temporibus? Vero natus modi ipsa debitis, accusamus accusantium cum quam. Saepe atque quisquam pariatur voluptatem expedita nesciunt reprehenderit et vitae.</p>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <img class="img-circle img-responsive" style="display: inline-block;" src="/assets/examples/wellington_newzealand_squared.jpg" />
                                        <h3>Lorem ipsum</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, aut, earum. Quod, debitis, delectus. Maxime eius ipsam sit dolorum perspiciatis obcaecati consectetur, explicabo reprehenderit repellat tempore veniam eos ducimus! Dignissimos.</p>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <img class="img-circle img-responsive" style="display: inline-block;" src="/assets/examples/yenbai_vietnam_squared.jpg" />
                                        <h3>Lorem ipsum</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatibus dicta corrupti aliquam, natus voluptatem pariatur quidem nostrum nisi corporis id ratione exercitationem et recusandae incidunt assumenda soluta qui odit.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-md-10 main">
        <div id="cartwidget">
            <div class="layout">
                <div class="page-header">
                    <button class="btn btn-primary save-btn">Save</button>
                    <button class="btn btn-primary save-preview-btn">Preview</button>
                    <%= link_to "Publish", design_path(@design), method: 'patch', class: 'btn btn-primary' %>
                    <%= link_to "Edit header", edit_header_path(@header), class: 'btn btn-primary' %>
                    <%= link_to "Edit banner", edit_banner_path(@banner), class: 'btn btn-primary' %>
                    <%= link_to "Customize products", edit_custom_product_path(@custom_product), class: 'btn btn-primary' %>
                </div>
            </div>
        </div>
    </div>
</div>