<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ecommerce CMS</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="/cms">CMS</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="/">Shop</a>
      </li>
    </ul>
  </div>
</nav>
<h1 align="center">Editing Header</h1>
<div class="container">
  <%= simple_form_for @header do |f| %>
    
      <%= f.file_field :logo %>
    
      <table class='table'>
        <thead>
          <tr>
            <th>Action</th>
            <th>Name</th>
            <th>Label</th>
            <th>Type</th>
            <th>Redirect url</th>
            <th>Values</th>
          </tr>
        </thead>
        <tbody class='fields'>
          <%= f.simple_fields_for :menus do |builder| %>
            <%= render 'menu', f: builder %>
          <% end %>
        </tbody>
      </table>

      <div class="form-group row mb-0">
        <div class="col-sm-9 offset-sm-3">
          <%= f.button :submit, class: "btn-primary" %>
          <%= link_to_add_row('Add Menu', f, :menus, class: 'btn btn-success') %>
      </div>
    </div>
  <% end %>
</div>