/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

html,body {
    height: 100% !important;
}

.split {
    border: 2px dotted grey;
    height: 15rem;
}

.my-container-left {
    border-right: 2px dashed grey;
    height: 14.5rem
}

.element-split {
    border: 2px dotted grey;
    height: auto;
}

.element-my-container-left {
    border-right: 2px dashed grey;
    height: auto;
    margin: 0px !important;
    padding-right: 0 !important;
}

.layout {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 20px;
}


.remove {
    position: absolute;
    bottom: 100px;
    right: 4px;
}


.remove-element {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: red;
}

.row {
    position: relative;
}

.hover-btn {
    position: absolute;
    right: 15px;
    display: none;
}

.row:hover .hover-btn {
    display: block;
}


