<meta charset="utf-8">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<%= favicon_link_tag 'favicon.ico' %>
<%= stylesheet_link_tag 'spree/frontend/all', media: 'screen' %>
<%= csrf_meta_tags %>
<%= render 'spree/shared/paths' %>
<%= javascript_include_tag 'spree/frontend/all' %>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<%= yield :head %>
<%= render 'spree/shared/translations' %>

<% if @active %>
    <link rel="stylesheet" href="/assets/divisima/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/divisima/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/divisima/css/flaticon.css"/>
    <link rel="stylesheet" href="/assets/divisima/css/slicknav.min.css"/>
    <link rel="stylesheet" href="/assets/divisima/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/assets/divisima/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="/assets/divisima/css/animate.css"/>
    <link rel="stylesheet" href="/assets/divisima/css/style.css"/>
<%end%>
